.navbar {
  background-color: #ffffff;
  padding: 1rem 2rem;
  color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}

.navbarBrand a {
  color: #1f2937;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 800;
}

.navbarCenterLinks {
  display: flex;
  gap: 10px;
  flex-grow: 1;
  justify-content: center;
}

.navbarRightButtons {
  display: flex;
  gap: 10px;
}

.languageButton {
  background-color: transparent;
  color: #f97316;
  border: 1px solid #f97316;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 600;
  transition: background-color 0.2s, color 0.2s;
}

.languageButton:hover {
  background-color: #f97316;
  color: white;
}

.logoutButton {
  background-color: #ef4444; /* Red color for logout */
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 600;
  transition: background-color 0.2s;
}

.logoutButton:hover {
  background-color: #dc2626;
}

.navLink {
  color: #1f2937;
  text-decoration: none;
  padding: 0.6rem 1.2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  transition: background-color 0.2s;
  font-weight: 600;
}

.navLink:hover {
  background-color: #e5e7eb;
}

.activeLink {
  background-color: #f97316;
  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
}

/* Media Queries for Responsive Navbar */

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 1rem;
  }

  .navbarBrand a {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .navbarCenterLinks {
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    align-items: center;
  }

  .navbarRightButtons {
    flex-direction: column;
    gap: 0.5rem;
    width: 50%;
    margin-top: 1rem;
  }

  .navLink,
  .activeLink {
    width: 50%;
    text-align: center;
  }

  .languageButton,
  .logoutButton {
    width: 100%;
  }
}

